[package]
edition = "2021"
name = "strata-provers-perf"
version = "0.1.0"

[dependencies]
strata-sp1-adapter = { workspace = true, features = ["mock", "prover"] }
strata-test-utils.workspace = true
strata-zkvm.workspace = true
strata-zkvm-tests = { path = "../tests/", features = ["mock", "sp1"] }

sp1-sdk = "4.0.0"

anyhow = "1.0.83"
bincode = "1.3.3"
clap = { version = "4.5.9", features = ["derive"] }
num-format = "0.4.4"
reqwest = { version = "0.12.4", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.94"
time = "0.3.26"

tokio = { version = "1.39.0", features = ["full"] }

[features]
default = []
profiling = ["sp1-sdk/profiling"]
