[package]
edition = "2021"
name = "strata-provers-perf"
version = "0.1.0"

[dependencies]
strata-sp1-guest-builder = { path = "../sp1/", features = ["prover"] }
strata-test-utils.workspace = true
strata-zkvm.workspace = true
strata-sp1-adapter = {workspace = true, features = ["prover"] }
strata-zkvm-tests = { path = "../tests/", features = ["sp1"] }
strata-native-zkvm-adapter.workspace = true

sp1-prover = "3.0.0"
sp1-sdk = "3.0.0"
sp1-stark = "3.0.0"

anyhow = "1.0.83"
bincode = "1.3.3"
clap = { version = "4.5.9", features = ["derive"] }
reqwest = { version = "0.12.4", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.94"
time = "0.3.26"
tokio = { version = "1.39.0", features = ["full"] }
