# Ignore configuration and hidden directories
.config/
.git/
.github/
.ruff_cache/
.vscode/
functional-tests/
docker/.data

# Ignore build artifacts and cache
target/
target/*
**/target/

# Ignore test-related files and directories
test/

# Ignore cache, temporary, and virtual environment files
*.log
*.tmp
*.swp
*.pyc
*.pyo
*.pyd

# Additional files

.idea/
.DS_Store

# docs
docs/
doc/
