# Ignore configuration and hidden directories
.config/
.git/
.github/
.ruff_cache/
.vscode/
.functional-tests/.ruff_cache/
.functional-tests/.venv/
.functional-tests/__pycache__/
.test/__pycache__/
.test/_dd/

# Ignore build artifacts and cache
target/
target/*

# Ignore test-related files and directories
test/
test/__pycache__/
test/_dd/

# Ignore cache, temporary, and virtual environment files
*.log
*.tmp
*.swp
*.pyc
*.pyo
*.pyd

# Additional files

.idea/
.DS_Store

# docs
docs/
doc/
