[workspace]
members = [
        "crates/btcio",
        "crates/common",
        "crates/consensus-logic",
        "crates/db",
        "crates/evmctl",
        "crates/evmexec",
        "crates/primitives",
        "crates/rpc/api",
        "crates/state",
        "crates/test-utils", 
	"crates/util/mmr",
	"crates/vtxjmt",
        "crates/prover/zkvm",
        "crates/prover/adapters/risc0",
        "sequencer",
]

default-members = ["sequencer"]

resolver = "2"

[workspace.dependencies]
alpen-test-utils = { path = "crates/test-utils" }
alpen-vertex-btcio = { path = "crates/btcio" }
alpen-vertex-common = { path = "crates/common" }
alpen-vertex-consensus-logic = { path = "crates/consensus-logic" }
alpen-vertex-db = { path = "crates/db" }
alpen-vertex-evmctl = { path = "crates/evmctl" }
alpen-vertex-mmr = { path = "crates/util/mmr" }
alpen-vertex-primitives = { path = "crates/primitives" }
alpen-vertex-rpc-api = { path = "crates/rpc/api" }
alpen-vertex-state = { path = "crates/state" }
zkvm = { path = "crates/prover/zkvm" }

anyhow = "1.0.86"
arbitrary = { version = "1.3.2", features = ["derive"] }
argh = "0.1"
async-trait = "0.1.80"
base64 = "0.22.1"
bincode = "1.3.3"
bitcoin = { version = "0.32.1", features = [ "serde" ] }
borsh = { version = "1.5.0", features = ["derive"] }
bytes = { version = "1.6.0" }
digest = "0.10"
num_enum = "0.7"
futures = "0.3"
hex = { version = "0.4", features = ["serde"] }
http = "1.0.0"
hyper = "0.14.25"
jmt = "0.10.0"
jsonrpsee = { version = "0.23", features = ["jsonrpsee-http-client"] }
jsonrpsee-types = "0.23"
mockall = "0.11"
parking_lot = "0.12.3"
rand = "0.8.5"
reqwest = { version = "0.12.4", features = ["json"] }
reth-db = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-ipc = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-revm = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-rpc-api = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-rpc-layer = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
reth-rpc-types = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.0.1" }
rockbound = { git = "https://github.com/sovereign-Labs/rockbound", tag = "v2.0.1" }
rocksdb = "0.21"
secp256k1 = "0.29.0"
serde = "1.0"
serde_json = { version = "1.0", default-features = false, features = [ "alloc", "raw_value" ] }
serde-hex = "0.1.0"
sha2 = "0.10"
tempfile = "3.10.1"
thiserror = "1.0"
threadpool = "1.8"
tokio = { version = "1.37", features = ["full"] }
tower = "0.4"
tracing = "0.1"
tracing-subscriber = "0.3"
toml = "0.5"
format_serde_error = { git = "https://github.com/AlexanderThaller/format_serde_error" }
