[workspace]
members = [
  "crates/bridge-exec",
  "crates/bridge-rpc-service",
  "crates/bridge-tx-manager",
  "crates/btcio",
  "crates/chaintsn",
  "crates/common",
  "crates/consensus-logic",
  "crates/db",
  "crates/eectl",
  "crates/evmexec",
  "crates/primitives",
  "crates/prover/adapters/risc0",
  "crates/prover/adapters/sp1",
  "crates/prover/bitcoin-blockspace",
  "crates/prover/btc-headerchain",
  "crates/prover/primitives",
  "crates/prover/zkvm",
  "crates/reth/db",
  "crates/reth/exex",
  "crates/reth/node",
  "crates/reth/rpc",
  "crates/rpc/api",
  "crates/rpc/types",
  "crates/rpc/utils",
  "crates/state",
  "crates/storage",
  "crates/tasks",
  "crates/status",
  "crates/test-utils",
  "crates/util/mmr",
  "crates/vtxjmt",
  "proofs/risc0",
  "proofs/sp1",

  # binaries listed separately
  "bin/sequencer",
  "bin/reth",
  "bin/operator",
  "bin/challenger",
]

default-members = ["bin/sequencer", "bin/reth"]

resolver = "2"

[workspace.dependencies]
alpen-express-btcio = { path = "crates/btcio" }
alpen-express-common = { path = "crates/common" }
alpen-express-consensus-logic = { path = "crates/consensus-logic" }
alpen-express-db = { path = "crates/db" }
alpen-express-eectl = { path = "crates/eectl" }
alpen-express-evmexec = { path = "crates/evmexec" }
alpen-express-mmr = { path = "crates/util/mmr" }
alpen-express-primitives = { path = "crates/primitives" }
alpen-express-rocksdb = { path = "crates/rocksdb-store" }
alpen-express-rpc-api = { path = "crates/rpc/api" }
alpen-express-rpc-types = { path = "crates/rpc/types" }
alpen-express-state = { path = "crates/state" }
alpen-express-status = { path = "crates/status" }
alpen-test-utils = { path = "crates/test-utils" }
bitcoin-blockspace = { path = "crates/prover/bitcoin-blockspace" }
express-bridge-exec = { path = "crates/bridge-exec" }
express-bridge-rpc-api = { path = "crates/bridge-rpc-api" }
express-bridge-txm = { path = "crates/bridge-tx-manager" }
express-chaintsn = { path = "crates/chaintsn" }
express-reth-db = { path = "crates/reth/db" }
express-reth-exex = { path = "crates/reth/exex" }
express-reth-node = { path = "crates/reth/node" }
express-reth-rpc = { path = "crates/reth/rpc" }
express-rpc-utils = { path = "crates/rpc/utils" }
express-storage = { path = "crates/storage" }
express-tasks = { path = "crates/tasks" }
express-zkvm = { path = "crates/prover/zkvm" }                      # FIXME make these names more consistent?
zkvm = { path = "crates/prover/zkvm" }
zkvm-primitives = { path = "crates/prover/primitives" }

# IMPORTANT: ensure alloy-* and revm packages are of the same version as inside reth dependency
alloy-genesis = { version = "0.2", default-features = false }
alloy-rpc-types = { version = "0.2", default-features = false }
alloy-sol-types = "0.7.2"
anyhow = "1.0.86"
arbitrary = { version = "1.3.2", features = ["derive"] }
argh = "0.1"
async-trait = "0.1.80"
base64 = "0.22.1"
bincode = "1.3.3"
bitcoin = { version = "0.32.1", features = ["serde"] }
bitcoind = { version = "0.36.0", features = ["26_0"] }
bitcoind-json-rpc-types = "0.3.0"
borsh = { version = "1.5.0", features = ["derive"] }
bytes = { version = "1.6.0" }
digest = "0.10"
eyre = "0.6"
format_serde_error = { git = "https://github.com/AlexanderThaller/format_serde_error" }
futures = "0.3"
futures-util = "0.3"
hex = { version = "0.4", features = ["serde"] }
http = "1.0.0"
hyper = "0.14.25"
jmt = "0.10.0"
jsonrpsee = "0.23"
jsonrpsee-types = "0.23"
lru = "0.12"
mockall = "0.11"
num_enum = "0.7"
parking_lot = "0.12.3"
paste = "1.0"
rand = "0.8.5"
reqwest = { version = "0.12.4", features = ["json"] }
reth = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-basic-payload-builder = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-chainspec = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-cli-commands = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-cli-util = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-db = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-errors = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-ethereum-payload-builder = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-evm = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-evm-ethereum = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-exex = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-ipc = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-node-api = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-node-ethereum = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-payload-builder = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-primitives = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1", default-features = false, features = [
  "std",
] }
reth-provider = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-revm = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-rpc = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-rpc-api = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-rpc-layer = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-rpc-types = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-rpc-types-compat = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
reth-trie-common = { git = "https://github.com/alpenlabs/reth.git", rev = "v1.0.3-alpen.1" }
revm = { version = "12.1.0", features = [
  "std",
  "secp256k1",
  "blst",
], default-features = false }
revm-primitives = { version = "7.1.0", features = [
  "std",
], default-features = false }
rockbound = { git = "https://github.com/alpenlabs/rockbound", rev = "v2.0.1-alpen.1" }
secp256k1 = "0.29.0"
serde = { version = "1.0", features = ["derive"] }
serde-hex = "0.1.0"
serde_json = { version = "1.0", default-features = false, features = [
  "alloc",
  "raw_value",
] }
serde_with = { version = "3.9.0" }
sha2 = "0.10"
tempfile = "3.10.1"
thiserror = "1.0"
threadpool = "1.8"
tokio = { version = "1.37", features = ["full"] }
toml = "0.5"
tower = "0.4"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
