[package]
edition = "2021"
name = "guest-sp1-l1-batch"
version = "0.1.0"

[workspace]

[dependencies]
bincode = "1.3.3"
bitcoin = "0.32.1"
borsh = { version = "1.5.0", features = ["derive"] }
sha2 = "0.10.8"
sp1-zkvm = { version = "3.0.0", features = ["verify"] }
strata-primitives = { path = "../../../crates/primitives" }
strata-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }
strata-proofimpl-l1-batch = { path = "../../../crates/proof-impl/l1-batch" }
strata-state = { path = "../../../crates/state" }
strata-tx-parser = { path = "../../../crates/tx-parser" }

[patch.crates-io]
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", branch = "patch-secp256k1-v0.29.1" }
