[package]
edition = "2021"
name = "strata-client"
version = "0.1.0"

[[bin]]
name = "strata-client"
path = "src/main.rs"

[dependencies]
strata-bridge-relay.workspace = true
strata-bridge-tx-builder.workspace = true
strata-btcio.workspace = true
strata-common.workspace = true
strata-config.workspace = true
strata-consensus-logic.workspace = true
strata-db.workspace = true
strata-eectl.workspace = true
strata-evmexec.workspace = true
strata-key-derivation.workspace = true
strata-l1tx.workspace = true
strata-primitives.workspace = true
strata-rocksdb.workspace = true
strata-rpc-api.workspace = true
strata-rpc-types.workspace = true
strata-rpc-utils.workspace = true
strata-state.workspace = true
strata-status.workspace = true
strata-storage.workspace = true
strata-sync.workspace = true
strata-tasks.workspace = true
strata-zkvm.workspace = true

alloy-rpc-types.workspace = true
anyhow.workspace = true
argh.workspace = true
async-trait.workspace = true
bitcoin.workspace = true
borsh.workspace = true
format_serde_error.workspace = true
futures.workspace = true
hex = { workspace = true, features = ["serde"] }
jsonrpsee = { workspace = true, features = ["server", "macros"] }
parking_lot.workspace = true
reth-ipc.workspace = true
reth-primitives.workspace = true
reth-rpc-api.workspace = true
rockbound.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
threadpool.workspace = true
tokio.workspace = true
toml.workspace = true
tracing.workspace = true
zeroize.workspace = true

[dev-dependencies]
arbitrary.workspace = true
strata-mmr.workspace = true
strata-test-utils.workspace = true
