[package]
edition = "2021"
name = "strata-rpc-api"
version = "0.1.0"

[dependencies]
strata-common.workspace = true
strata-db.workspace = true
strata-primitives.workspace = true
strata-rpc-types.workspace = true
strata-sequencer.workspace = true
strata-state.workspace = true
zkaleido.workspace = true

bitcoin.workspace = true
hex.workspace = true
jsonrpsee = { workspace = true, features = ["server", "macros"] }
serde.workspace = true
serde_with = { workspace = true, features = ["hex"] }
thiserror.workspace = true

[features]
client = ["jsonrpsee/client"]
default = []
