[package]
edition = "2021"
name = "strata-prover-client"
version = "0.1.0"

[[bin]]
name = "strata-prover-client"
path = "src/main.rs"
required-features = ["prover"]

[dependencies]
strata-common = { workspace = true }
strata-db = { workspace = true }
strata-proofimpl-evm-ee-stf = { workspace = true }
strata-prover-client-rpc-api = { workspace = true }
strata-risc0-adapter = { workspace = true, features = ["prover"] }
strata-risc0-guest-builder = { path = "../../provers/risc0" }
strata-rocksdb = { workspace = true }
strata-zkvm = { workspace = true }


anyhow = { workspace = true }
argh = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true }
jsonrpsee = { workspace = true, features = ["http-client"] }
rayon = "1.8.0"
reth-rpc-types = { workspace = true }
rockbound = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
uuid = { version = "1.0", features = ["v4", "serde"] }


[features]
prover = ["strata-risc0-guest-builder/prover"]
