[package]
edition = "2021"
name = "alpen-express-primitives"
version = "0.1.0"

[dependencies]
anyhow = { workspace = true }
arbitrary = { workspace = true }
bitcoin = { workspace = true }
borsh = { workspace = true }
digest = { workspace = true }
hex = { workspace = true }
reth-primitives = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = { workspace = true }
