[package]
edition = "2021"
name = "strata-sync"
version = "0.1.0"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
borsh.workspace = true
futures.workspace = true
futures-util.workspace = true
strata-common.workspace = true
strata-consensus-logic.workspace = true
strata-db.workspace = true
strata-primitives.workspace = true
strata-rpc-api = { workspace = true, features = ["client"] }
strata-rpc-types.workspace = true
strata-state.workspace = true
strata-storage.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true


[dev-dependencies]
arbitrary.workspace = true
