[package]
edition = "2021"
name = "strata-sp1-adapter"
version = "0.1.0"

[dependencies]
anyhow.workspace = true
bincode.workspace = true
borsh.workspace = true
hex.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
sp1-sdk = "3.0.0"
sp1-verifier = { git = "https://github.com/succinctlabs/sp1", rev = "2c7868364cb832531e8cafd258aa06fbab079459" } # Note: On new SP1 version, this will be available via SDK 
strata-primitives.workspace = true
strata-zkvm.workspace = true
tracing.workspace = true

[features]
default = []
prover = []
