[package]
edition = "2021"
name = "strata-sp1-adapter"
version = "0.1.0"

[dependencies]
strata-primitives.workspace = true
strata-zkvm.workspace = true

bincode.workspace = true
borsh.workspace = true
hex.workspace = true
serde.workspace = true
sha2 = { workspace = true }
sp1-primitives = "=4.0.0-rc.3"
sp1-sdk = { version = "=4.0.0-rc.3", optional = true }
sp1-verifier = { git = "https://github.com/succinctlabs/sp1", rev = "2c7868364cb832531e8cafd258aa06fbab079459" } # Note: On new SP1 version, this will be available via SDK
sp1-zkvm = { version = "=4.0.0-rc.3", features = ["verify"], optional = true }
tracing.workspace = true

[features]
default = []
mock = []
prover = ["sp1-sdk"]
zkvm = ["sp1-zkvm"]
