x-base-client: &base-client
  build:
    context: ../
    dockerfile: ./docker/client/Dockerfile
  image: "strata_client:v0.1.0"
  networks:
    - alpen_rollup

x-base-reth: &base-reth
  build:
    context: ../
    dockerfile: ./docker/reth/Dockerfile
  image: "strata_reth:v0.1.0"
  networks:
    - alpen_rollup

services:
  reth:
    <<: *base-reth
    container_name: strata_reth
    volumes:
      - ./.data/data-reth:/app/reth
      - ./configs/p2p.seq.hex:/app/p2p.hex
      - ./configs/jwt.seq.hex:/app/jwt.hex
    command:
      - "--enable-witness-gen"
    ports:
      # - 8551:8551
      - 8545:8545
      - 8546:8546

  reth-fn:
    <<: *base-reth
    container_name: strata_reth_fn
    volumes:
      - ./.data/data-reth-fn:/app/reth
      - ./configs/p2p.fn.hex:/app/p2p.hex
      - ./configs/jwt.fn.hex:/app/jwt.hex
    ports:
      # - 8561:8551
      - 8555:8545
      - 8556:8546

  sequencer:
    <<: *base-client
    container_name: strata_sequencer
    ports:
      - 8432:8432
    volumes:
      - ./.data/data-sequencer:/app/data
      - ./configs/config.seq.toml:/app/config.toml
      - ./configs/params.devnet.json:/app/params.json
      - ./configs/sequencer.key:/app/sequencer.key
      - ./configs/jwt.seq.hex:/app/jwt.hex
    depends_on:
      - bitcoind
      - reth

  fullnode:
    <<: *base-client
    container_name: strata_fullnode
    ports:
      - 8433:8432
    volumes:
      - ./.data/data-fullnode:/app/data
      - ./configs/config.fn.toml:/app/config.toml
      - ./configs/params.devnet.json:/app/params.json
      - ./configs/jwt.fn.hex:/app/jwt.hex
    # need to wait for sequencer to start
    entrypoint: /bin/sh -c "sleep 10 && /app/entrypoint.sh \"$@\"" --
    depends_on:
      - bitcoind
      - reth-fn
      - sequencer

  bitcoind:
    build:
      context: ./bitcoind/
    image: "strata_bitcoind:v0.1.0"
    environment:
      RPC_ALLOW_IP: "0.0.0.0/0"
      BITCOIND_RPC_USER: rpcuser
      BITCOIND_RPC_PASSWORD: rpcpassword
      BITCOIND_WALLET: default
    container_name: strata_bitcoind
    volumes:
      - ./.data/data-bitcoind:/root/.bitcoin/
    ports:
      - "18443:18443"
    networks:
      - alpen_rollup

networks:
  alpen_rollup:
    driver: bridge
    name: alpen_rollup
