x-base-client: &base-client
  build:
    context: ../
    dockerfile: ./docker/client/Dockerfile
  image: "strata_client:0.1.0"
  networks:
    - strata_network

x-base-reth: &base-reth
  build:
    context: ../
    dockerfile: ./docker/reth/Dockerfile
  image: "strata_reth:0.1.0"
  networks:
    - strata_network

x-base-bridge-client: &base-bridge-client
  build:
    context: ../
    dockerfile: ./docker/bridge-client/Dockerfile
  image: "strata_bridge_client:v0.1.0"
  environment:
    BTC_URL: "http://bitcoind:18443"
    BTC_USER: rpcuser
    BTC_PASS: rpcpassword
    RPC_HOST: "0.0.0.0"
    RPC_PORT: 4781 # default
    ROLLUP_URL: "ws://sequencer:8432"
    DATADIR: .data # default
  networks:
    - strata_network
  depends_on:
    - sequencer

x-base-prover: &base-prover
  build:
    context: ../
    dockerfile: ./docker/prover-client/Dockerfile
    args:
      PROVER_FEATURES: "sp1"
  image: "strata_prover_client:v0.1.0"
  networks:
    - strata_network
  depends_on:
    - sequencer-signer
    - bitcoind
    - sequencer

services:
  reth:
    <<: *base-reth
    container_name: strata_reth
    environment:
      JWTSECRET: "configs/jwt.hex"
    volumes:
      - ./.data/data-reth:/app/reth
      - ./configs:/app/configs
    command:
      - "--enable-witness-gen"
      # FIXME: datatool should not default to dev chain
      - "--custom-chain"
      - "dev"
    ports:
      - 8551:8551
      - 8545:8545
      - 8546:8546

  reth-fn:
    <<: *base-reth
    container_name: strata_reth_fn
    environment:
      JWTSECRET: "configs/jwt.fn.hex"
    command:
      - "--sequencer-http"
      - "http://strata_reth:8545"
      # FIXME: datatool should not default to dev chain
      - "--custom-chain"
      - "dev"
    volumes:
      - ./.data/data-reth-fn:/app/reth
      - ./configs:/app/configs
    ports:
      - 8561:8551
      - 8555:8545
      - 8556:8546
    profiles:
      - fullnode

  sequencer:
    <<: *base-client
    container_name: strata_sequencer
    ports:
      - 8432:8432
    environment:
      CONFIG_PATH: "configs/config.seq.toml"
      PARAM_PATH: "configs/params.json"
    volumes:
      - ./.data/data-sequencer:/app/data
      - ./configs:/app/configs
      - ./configs/sequencer.key:/app/sequencer.key
    command: ["--reth-jwtsecret", "configs/jwt.hex"]
    depends_on:
      - bitcoind
      - reth

  sequencer-signer:
    build:
      context: ../
      dockerfile: ./docker/sequencer-signer/Dockerfile
    image: "strata_sequencer-signer:0.1.0"
    networks:
      - strata_network
    container_name: strata_sequencer_signer
    volumes:
      - ./configs/sequencer.key:/app/sequencer.key
    command: [
      "--sequencer-key", "sequencer.key",
      "--rpc-host", "sequencer",
      "--rpc-port", "8432"
    ]
    depends_on:
      - sequencer

  prover-client:
    <<: *base-prover
    container_name: strata_prover_client
    volumes:
      - ./configs/params.json:/app/params.json
      - ./.data/prover-client:/app/.data
      - ../elfs:/app/elfs
    env_file:
      - prover-client/prover-client.env

    command: [
      "--rollup-params", "params.json",
      "--datadir", ".data",
      "--sequencer-rpc", "http://sequencer:8432",
      "--reth-rpc", "http://reth:8545",
      "--bitcoind-url", "bitcoind:18443",
      "--bitcoind-user", "rpcuser",
      "--bitcoind-password","rpcpassword",
      "--enable-checkpoint-runner", "true"
    ]


  fullnode:
    <<: *base-client
    container_name: strata_fullnode
    ports:
      - 8433:8432
    environment:
      CONFIG_PATH: "configs/config.fn.toml"
      PARAM_PATH: "configs/params.json"
    volumes:
      - ./.data/data-fullnode:/app/data
      - ./configs:/app/configs
      # need to wait for sequencer to start
    entrypoint: /bin/sh -c "sleep 10 && /app/entrypoint.sh \"$@\"" --
    command: ["--reth-jwtsecret", "configs/jwt.fn.hex"]
    depends_on:
      - bitcoind
      - reth-fn
      - sequencer
    profiles:
      - fullnode

  bitcoind:
    build:
      context: ./bitcoind/
    image: "strata_bitcoind:v0.1.2"
    environment:
      RPC_ALLOW_IP: "0.0.0.0/0"
      BITCOIND_RPC_USER: rpcuser
      BITCOIND_RPC_PASSWORD: rpcpassword
      BITCOIND_WALLET: default
      BRIDGE_WALLET_1: bridge_0
      BRIDGE_WALLET_2: bridge_1
      BRIDGE_WALLET_3: bridge_2
      GENERATE_BLOCKS: 4 # if env is set then blocks are generated. the number is number of seconds between L1 blocks / 4
    container_name: strata_bitcoind
    volumes:
      - ./.data/data-bitcoind:/root/.bitcoin/
      - ./bitcoind/entrypoint.sh:/app/entrypoint.sh
    ports:
      - "18443:18443"
    networks:
      - strata_network


  bridge-client-1:
    <<: *base-bridge-client
    container_name: bridge-client-1
    volumes:
      - ./configs/operator1.bin:/app/.secrets/xpriv.bin
      - ./.data/bridge-client-1:/app/.data
    ports:
      - 4781:4781
    profiles:
      - bridge

  bridge-client-2:
    <<: *base-bridge-client
    container_name: bridge-client-2
    volumes:
      - ./configs/operator2.bin:/app/.secrets/xpriv.bin
      - ./.data/bridge-client-2:/app/.data
    ports:
      - 4782:4781
    profiles:
      - bridge

networks:
  strata_network:
    driver: bridge
    name: strata_network
