services:
  reth:
    build:
      context: ../
      dockerfile: ./docker/reth/Dockerfile
    image: "strata_reth:v0.1.0"
    environment:
      CONFIG_FILE: ${CONFIG_FILE:-example_config.toml}
      BUILD_PROFILE: ${BUILD_PROFILE:-release}
      RETH_PORT: ${RETH_PORT:-12002}
      P2P_SECRET_KEY: ${P2P_RETH_SECRET_KEY:-8f2a559490d8e61f3fa578be89e65bdca1e5a48f7b840a5a5dbd71a7a21c22a9}
      RETH_AUTH_RPC_PORT: ${RETH_AUTH_RPC_PORT:-8551}
      JWTSECRET: ${JWTSECRET}
    volumes:
      - ./data/data-reth:/app/reth
    ports:
      - "${RETH_AUTH_RPC_PORT:-8551}:${RETH_AUTH_RPC_PORT:-8551}"
      - "${RETH_PORT:-8545}:${RETH_PORT:-8545}"
    expose:
      - ${RETH_AUTH_RPC_PORT:-8551}
      - ${RETH_PORT:-8545}
    networks:
      - strata_network

  client:
    build:
      context: ../
      dockerfile: ./docker/client/Dockerfile
    image: "strata_client:v0.1.0"
    environment:
      BITCOIND_RPC_PORT: ${BITCOIND_RPC_PORT}
      BITCOIND_HOST: ${BITCOIND_HOST}
      CLIENT_MODE: "full_node"
      BITCOIND_RPC_USER: ${BITCOIND_RPC_USER}
      BITCOIND_RPC_PASSWORD: ${BITCOIND_RPC_PASSWORD}
      BITCOIND_WALLET: ${BITCOIND_WALLET}
      NETWORK: ${NETWORK:-regtest}
      JWTSECRET: ${JWTSECRET}
      RETH_HOST: ${RETH_HOST}
      RETH_PORT: ${RETH_AUTH_RPC_PORT:-8551}
      RPC_HOST: ${RPC_HOST:-"0.0.0.0"}
      RPC_PORT: ${RPC_PORT:-"12332"}
      SEQUENCER_RPC: ${RPC_URL:-"ws://0.0.0.0:12332"}
      BTC_ADDRESS: ${BTC_ADDRESS}
      SECRETKEY: ${SECRETKEY}
      DB_RETRY_COUNT: ${DB_RETRY_COUNT:-5}
      L2_BLOCKS_FETCH_LIMIT: ${L2_BLOCKS_FETCH_LIMIT:-100}
      L1_FOLLOW_DISTANCE: ${L1_FOLLOW_DISTANCE:-6}
      MAX_REORG_DEPTH: ${MAX_REORG_DEPTH:-4}
      CLIENT_POLL_DUR_MS: ${CLIENT_POLL_DUR_MS:-2000}
      CHECKPOINT_INTERVAL: ${CHECKPOINT_INTERVAL:-20}
      RUST_LOG: ${RUST_LOG:-info}
    container_name: strata_client
    ports:
      - "${RPC_PORT:-12332}:${RPC_PORT:-12332}"
    expose:
      - ${RPC_PORT:-12332}
    volumes:
      - ./data/data-bitcoind:/root/.bitcoin/
    depends_on:
      - bitcoind
      - reth
    networks:
      - strata_network

  bitcoind:
    build:
      context: ../
      dockerfile: ./docker/bitcoind/Dockerfile
    image: "strata_bitcoind:v0.1.0"
    environment:
      BITCOIND_RPC_PORT: ${BITCOIND_RPC_PORT}
      BITCOIND_WALLET: ${BITCOIND_WALLET}
      BITCOIND_HOST: ${BITCOIND_HOST}
      BITCOIND_RPC_USER: ${BITCOIND_RPC_USER}
      BITCOIND_RPC_PASSWORD: ${BITCOIND_RPC_PASSWORD}
      RPC_BIND: "0.0.0.0"
      RPC_ALLOW_IP: "0.0.0.0/0"
    container_name: strata_bitcoind
    volumes:
      - ./data/data-bitcoind:/root/.bitcoin/
    ports:
      - "${BITCOIND_RPC_PORT:-9823}:${BITCOIND_RPC_PORT:-9823}"
    expose:
      - ${BITCOIND_RPC_PORT:-9823}
    networks:
      - strata_network

networks:
  strata_network:
    driver: bridge
    name: strata_network
