[package]
edition = "2021"
name = "express-prover-client-rpc-api"
version = "0.1.0"

[lints]
rust.missing_debug_implementations = "warn"
rust.missing_docs = "warn"
rust.rust_2018_idioms = { level = "deny", priority = -1 }
rust.unreachable_pub = "warn"
rust.unused_crate_dependencies = "deny"
rust.unused_must_use = "deny"
rustdoc.all = "warn"

[dependencies]
jsonrpsee = { workspace = true, features = ["server", "macros"] }

[features]
client = ["jsonrpsee/client"]
