[package]
edition = "2021"
name = "guest-sp1-checkpoint"
version = "0.1.0"

[workspace]

[dependencies]
alpen-express-primitives = { path = "../../../crates/primitives" }
alpen-express-state = { path = "../../../crates/state" }
bincode = "1.3.3"
bitcoin = { version = "0.32.1" }
borsh = { version = "1.5.0", features = ["derive"] }
express-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }
express-proofimpl-checkpoint = { path = "../../../crates/proof-impl/checkpoint" }
express-proofimpl-l1-batch = { path = "../../../crates/proof-impl/l1-batch" }
express-zkvm = { path = "../../../crates/zkvm/zkvm" }
sha2 = { version = "0.10.8" }
snark-bn254-verifier = { git = "https://github.com/succinctlabs/snark-bn254-verifier.git" } # Note: This is unstable
sp1-core-machine = { version = "2.0.0" }
sp1-zkvm = { version = "2.0.0", features = ["verify"] }
substrate-bn = { git = "https://github.com/sp1-patches/bn", branch = "patch-v0.7.0" }

[patch.crates-io]
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }
