[package]
edition = "2021"
name = "guest-sp1-checkpoint"
version = "0.1.0"

[workspace]

[dependencies]
strata-proofimpl-checkpoint = { path = "../../../crates/proof-impl/checkpoint" }
zkaleido-sp1-guest-env = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc8" }

[patch.crates-io]
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", branch = "patch-secp256k1-v0.29.1" }
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }

[features]
mock-verify = ["zkaleido-sp1-guest-env/mock-verify"]
zkvm-verify = ["zkaleido-sp1-guest-env/zkvm-verify"]
