[package]
edition = "2021"
name = "express-sp1-guest-builder"
version = "0.1.0"

[dependencies]
express-sp1-adapter = { path = "../../crates/zkvm/adapters/sp1", features = [
  "prover",
], optional = true }

[build-dependencies]
sp1-helper = "2.0.0"

[dev-dependencies]
alpen-express-primitives.workspace = true
alpen-express-state.workspace = true
alpen-test-utils = { workspace = true }
bincode = { workspace = true }
bitcoin = { workspace = true }
borsh = { workspace = true }
express-proofimpl-btc-blockspace = { workspace = true }
express-proofimpl-checkpoint = { workspace = true }
express-proofimpl-evm-ee-stf = { workspace = true }
express-proofimpl-l1-batch = { workspace = true, features = ["test-utils"] }
express-zkvm = { workspace = true }
hex = { workspace = true }

[features]
default = ["prover"]
prover = ["dep:express-sp1-adapter"]
