[package]
edition = "2021"
name = "strata-bridge-client"
version = "0.1.0"

[[bin]]
name = "strata-bridge-client"
path = "src/main.rs"

[lints]
rust.rust_2018_idioms = { level = "deny", priority = -1 }
rust.unused_crate_dependencies = "deny"
rust.unused_must_use = "deny"

[dependencies]
strata-bridge-exec.workspace = true
strata-bridge-rpc-api.workspace = true
strata-bridge-sig-manager.workspace = true
strata-bridge-tx-builder.workspace = true
strata-btcio.workspace = true
strata-common.workspace = true
strata-key-derivation.workspace = true
strata-primitives.workspace = true
strata-rocksdb.workspace = true
strata-rpc-api = { workspace = true, features = ["client"] }
strata-rpc-types.workspace = true
strata-state.workspace = true
strata-storage.workspace = true

anyhow.workspace = true
argh.workspace = true
async-trait.workspace = true
bitcoin.workspace = true
chrono.workspace = true
deadpool.workspace = true
directories = "5.0.1"
jsonrpsee.workspace = true
rockbound.workspace = true
thiserror.workspace = true
threadpool.workspace = true
tokio.workspace = true
tracing.workspace = true
zeroize.workspace = true
