[package]
name = "alpen-vertex-btcio"
version = "0.1.0"
edition = "2021"

[dependencies]
alpen-vertex-primitives = { workspace = true }
alpen-vertex-db = { workspace = true }

anyhow = { workspace = true }
base64 = { workspace = true }
bitcoin = { workspace = true }
bytes =  { workspace = true }
hex =  { workspace = true }
tokio = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
