[package]
edition = "2021"
name = "alpen-express-db"
version = "0.1.0"

[dependencies]
alpen-express-mmr = { workspace = true }
alpen-express-primitives = { workspace = true }
alpen-express-state = { workspace = true }

anyhow = { workspace = true }
arbitrary = { workspace = true }
bitcoin = { workspace = true }
borsh = { workspace = true }
mockall = { workspace = true, optional = true }
parking_lot = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[features]
default = []
stubs = []
mocks = ["mockall"]
