[package]
edition = "2021"
name = "alpen-vertex-db"
version = "0.1.0"

[dependencies]
alpen-vertex-mmr = { workspace = true }
alpen-vertex-primitives = { workspace = true }
alpen-vertex-state = { workspace = true }

anyhow = { workspace = true }
arbitrary = { workspace = true }
bincode = { workspace = true }
bitcoin = { workspace = true }
borsh = { workspace = true }
parking_lot = { workspace = true }
reth-db = { workspace = true }
rockbound = { workspace = true }
rocksdb = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
alpen-test-utils = { workspace = true }
