[package]
edition = "2021"
name = "guest-risc0-btc-blockspace"
version = "0.1.0"

[workspace]

[dependencies]
bitcoin = { version = "0.32.1" }
risc0-zkvm = { version = "1.0.5", default-features = false, features = ['std'] }
strata-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }

[patch.crates-io]
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8-risczero.0" }
