[package]
edition = "2021"
name = "guest-risc0-btc-blockspace"
version = "0.1.0"

[workspace]

[dependencies]
risc0-zkvm = { version = "1.2.3", features = ["getrandom"] }
strata-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }
zkaleido-risc0-adapter = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc2" }

[patch.crates-io]
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", branch = "patch-secp256k1-v0.29.1" } # This has been used because on riscv32, we need to build C libraries using the riscv-gnu-toolchain and clang for compiling C code. sp1-patches does this. This works for risc0 as well because the `target_vendor` is not `succinct`, so this does not try to use the succinct precompile.
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8-risczero.0" }
