[package]
edition = "2021"
name = "strata-zkvm-hosts"
version = "0.3.0-alpha.1"

[dependencies]
zkaleido.workspace = true
zkaleido-native-adapter.workspace = true

# sp1
strata-sp1-guest-builder = { path = "../../../provers/sp1", optional = true }
zkaleido-sp1-host = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc9", optional = true }

# risc0
strata-risc0-guest-builder = { path = "../../../provers/risc0", optional = true }
zkaleido-risc0-host = { git = "https://github.com/alpenlabs/zkaleido", tag = "v0.1.0-alpha-rc9", optional = true }

strata-primitives.workspace = true
strata-proofimpl-btc-blockspace.workspace = true
strata-proofimpl-checkpoint.workspace = true
strata-proofimpl-cl-stf.workspace = true
strata-proofimpl-evm-ee-stf.workspace = true

bincode.workspace = true
borsh.workspace = true
serde.workspace = true
thiserror.workspace = true

[features]
default = []
risc0 = ["dep:zkaleido-risc0-host"]
risc0-builder = ["risc0", "dep:strata-risc0-guest-builder"]
sp1 = ["dep:zkaleido-sp1-host"]
sp1-builder = ["sp1", "strata-sp1-guest-builder/sp1-dev"]
