name: Docs

on:
  pull_request:
  merge_group:
  push:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  docs:
    name: Generate docs
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-07-27
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Check docs leaving the dependencies out
        env:
          RUSTDOCFLAGS: --show-type-layout --enable-index-page -Zunstable-options -A rustdoc::private-doc-tests -D warnings
        run: cargo doc --workspace --no-deps
      - name: Compress docs artifacts
        run: tar czf express-core-docs.tar.gz target/doc
      - name: Archive docs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: docs
          path: express-core-docs.tar.gz
