name: Lint GitHub Actions workflows

on:
  pull_request:
    paths:
      - ".github/**"
  merge_group:
  push:
    paths:
      - ".github/**"

permissions: {}

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@a5524e1c19e62881d79c1f1b9b6f09f16356e281 # v1.65
        with:
          fail_level: "any"
