# Runs mutants tests.

name: Mutants Tests

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DEFAULT_BRANCH: master

concurrency:
  group: ${{ github.workflow }}-${{ github.run_id }}
  cancel-in-progress: true

jobs:
  mutants-test:
    name: Generate mutants on diff against default branch and test
    runs-on: ubuntu-latest
    continue-on-error: true # FIXME: remove this if all mutants are covered
    strategy:
      fail-fast: false # Collect all mutants even if some are missed
      matrix:
        shard: [0, 1, 2, 3, 4, 5, 6, 7]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Relative diff
        run: |
          git branch -av
          git diff origin/$DEFAULT_BRANCH | tee git.diff
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        name: Install `cargo-mutants`
        with:
          tool: cargo-mutants
      - name: Run `cargo-mutants`
        run: |
          cargo mutants --no-shuffle -vV --in-diff git.diff --shard ${{ matrix.shard }}/8 --timeout 300
      - name: Archive mutants.out
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: mutants-incremental.out
          path: mutants-shard${{ matrix.shard }}.out
          overwrite: true
