name: Run prover guest code checks

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

jobs:
  eval_perf:
    permissions:
      # Needed to install the toolchain.
      contents: write
      # Needed to post the performance report comments.
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-07-27

      - name: Use Cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      # Installs mold (modern ld), a drop-in replacement for lld.
      # Under the hood, the following action symlinks mold binary onto lld,
      # so everything is linked faster (hopefully).
      - name: Install mold linker
        uses: rui314/setup-mold@v1

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      - name: Install SP1 Toolchain
        run: |
          curl -fsSL --proto '=https' --tlsv1.2 https://sp1.succinct.xyz | bash && ~/.sp1/bin/sp1up
          export PATH=~/.sp1/bin:$PATH
          cargo prove --version

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run performance evaluation
        run: |
          cargo run --profile prover-ci -- \
          --post-to-gh \
          --github-token "${{ secrets.GITHUB_TOKEN }}" \
          --pr-number "${{ github.event.pull_request.number }}" \
          --commit-hash "${{ github.sha }}" \
        working-directory: provers/perf
        env:
          RUSTFLAGS: "-C target-cpu=native -C link-arg=-fuse-ld=lld"

