[package]
edition = "2021"
name = "guest-sp1-btc-blockspace"
version = "0.1.0"

[workspace]

[dependencies]
alpen-express-primitives = { path = "../../../crates/primitives" }
bitcoin = { version = "0.32.1" }
borsh = { version = "1.5.0", features = ["derive"] }
express-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }
sp1-zkvm = "2.0.0"
strata-tx-parser = { path = "../../../crates/tx-parser" }

[patch.crates-io]
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }
secp256k1 = { git = "https://github.com/sp1-patches/rust-secp256k1", branch = "patch-secp256k1-v0.29.1" }
