[package]
edition = "2021"
name = "guest-sp1-btc-blockspace"
version = "0.1.0"

[workspace]

[dependencies]
bitcoin = { version = "0.32.1" }
sp1-zkvm = "1.0.1"
strata-proofimpl-btc-blockspace = { path = "../../../crates/proof-impl/btc-blockspace" }

[patch.crates-io]
sha2-v0-10-6 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.6" }
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.10.8" }
sha2-v0-9-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", branch = "patch-sha2-v0.9.8" }
